{% extends "TdevNewsBundle::layout.html.twig" %}

{% block body %}
    <h1>Delete a news</h1>
    <form method="post" role="form">
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
