{% extends "TdevNewsBundle::layout.html.twig" %}

{% block body %}
    <h1>News</h1>

    <ul>
        <li><a href="{{ path('tdev_news_view',{'id': 1}) }}">News n째1</a></li>
        <li><a href="{{ path('tdev_news_view',{'id': 2}) }}">News n째2</a></li>
        <li><a href="{{ path('tdev_news_view',{'id': 3}) }}">News n째3</a></li>
        <li><a href="{{ path('tdev_news_view',{'id': 4}) }}">News n째4</a></li>
    </ul>
{% endblock %}