{% extends "TdevNewsBundle::layout.html.twig" %}

{% block body %}
    <h1>News</h1>

    {% for new in news %}
        <h2><a href="{{ path('tdev_news_view', {'id':loop.index}) }}">News n°{{ loop.index }}</a></h2>
        <p>{{ new }}</p>
    {% endfor %}
{% endblock %}